body {
    background-image: url("../images/DMB2.png");
}


.container {
    font-family: 'Oswald', sans-serif;
    background-color: #87deda;
    margin-top: 75px;
    border-radius: 25px;
}

#buttonDiv {
    font-family: 'Oswald', sans-serif; 
}